{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12" id="header-text">
            <h2>Calculate NBA Players Stats with Monumental Results!</h2>
            <h5>Create an amazing API tool for NBA Recuriters</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <!-- Header Image -->
        <div class="col-12">
            <img src="../static/images/stats.png" alt="Hero Header Image" class="header-img">
        </div>
    </header>
    <!-- End of Header Section -->
    <!-- Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection</h2>
            <p>You can harness the power of an API to expand your collection!</p>
        </div>
    </section>
    <!-- End of Middle Section -->
    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../static/images/api.png" alt="API Image" id="api-image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes, we have those for you!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../static/images/graphql.png" alt="" id="graphql-imgae">
            <h4>GraphQL Api Route</h4>
            <p>
                If you want All data from one endpoint, we have that too!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../static/images/graphql.png" alt="" id="graphql-imgae">
            <h4>Backed by a PostgreSQL Database</h4>
            <p>
                If you want All data from one endpoint, we have that too!
            </p>
        </div>
    </section>
    <!-- End Collection of Features -->
    <!-- Start of Community Section -->
    <section class="row">
        <div class="col-12 col-md-6"><img src="../../static/images/magic.jpg" alt="Drone Image" id="Drone-Image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Collab with like-minded data scientists</h4>
            <p>
                Talk with other devs around the world and collab
                on projects with your data. Join our Slack channel
                and give a star to the project on Github!
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer Section -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/bball logo2.png" alt="" id="footer-logo">
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Data Analytics?</p>
                <p>The NBA Statistics Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Data Analytics?</p>
                <p>The NBA Statistics Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Data Analytics?</p>
                <p>The NBA Statistics Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Data Analytics?</p>
                <p>The NBA Statistics Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Data Analytics?</p>
                <p>The NBA Statistics Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>

    </footer>
</div>

{% endblock content %}